# 告诉 Lombok
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier

# 允许复制的注解，这些注解可以从字段复制到构造函数参数
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Autowired
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += javax.annotation.Resource
lombok.copyableAnnotations += javax.inject.Inject

# 停止配置冒泡，阻止 Lombok 在父目录中查找其他 lombok.config 文件，确保只使用当前目录的配置。
config.stopBubbling = true

# 让 Setter 方法返回 this，支持链式调用，如user.setName("John").setAge(25);
lombok.accessors.chain = true

# 指定 @Slf4j 等日志注解生成的字段名称。配置后生成：private static final Logger LOGGER = ...
#lombok.log.fieldName = LOGGER